#cuoiky{
    color:#E6A756;
}
#tieude{
    color: white;
    /* text in box voi nen box la trang, opacity 0.85, text trong box mau den */
}
body{
    background-image: url("../img/bg.jpg");
}
.menu ul{
    list-style-type: none;
    
}
.menu li{
    color: white;
    display: inline;
}
.menu a{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
}
.footer{
    color: white;
}
