input{
    margin:5px;
}
h2.caudan{
    font-size: 24px;
    line-height: 28px;
    width: auto;
}
.inputtext{
    font-size:15px;
    line-height: 16px;
    border-color: #ccd0d5;
    border-radius: 5px;
    min-height: 38px;
}

